.card {
  border: 1px solid ffecd5;
  padding: 1.5rem;
  font-size: 1.2rem;
  margin: 1rem;
  color: #333;
  border-radius: 0.5rem;
  background-color: #ffecd5;
  backdrop-filter: blur(16px) saturate(170%);
  -webkit-backdrop-filter: blur(16px) saturate(170%);
  background-color: #ffecd599;
  box-shadow: 0 8px 32px 0 #ebebeb;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  /* text-shadow: -1px 1px 0 #2b2929, 1px 1px 0 #2b2929, 1px -1px 0 #2b2929,
    -1px -1px 0 #2b2929; */
  position: relative;
  width: 75vw;
}
.card.dark {
  background: #ededed;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.high {
  color: #ef6464;
}
.medium {
  color: #ffff7c;
}
.low {
  color: #52e6a3;
}
